body {
  font-family: "Rajdhani", sans-serif;
}

div.sobre {
  position: relative;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
}
div.sobre h2 {
  color: #003366;
}
div.sobre p {
  font-size: 16px;
}
@media (max-width: 768px) {
  div.sobre p {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  div.sobre p {
    font-size: 13px;
    width: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  div.sobre {
    width: 80%;
  }
}
@media (max-width: 320px) {
  div.sobre {
    width: 280px;
  }
}

div.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 5px 20px 5px 20px;
}
@media (max-width: 320px) {
  div.cards {
    max-width: 260px;
  }
}
div.cards .cardimg {
  max-width: 100%;
  heigth: 100%;
}
@media (max-width: 320px) {
  div.cards .cardimg {
    max-width: 200px;
    margin: 0 auto;
  }
}
div.cards .cardstyle {
  border: 1px solid #4a7093;
  background-color: #f0f7f7;
  width: 100%;
  height: 285px;
}
@media (max-width: 320px) {
  div.cards .cardstyle {
    max-width: 280px;
    max-height: 220px;
  }
}
div.cards .pimg {
  font-size: 13px;
  display: block;
  max-width: 240px;
  padding-left: 10px;
}

.comobtn {
  width: 100%;
  max-width: 200px;
  height: 30px;
  margin: 30px auto;
  display: block;
  padding: 5px 5px;
  background-color: #0066CC;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 320px) {
  .comobtn {
    width: 30%;
    margin: -15px auto;
    max-height: 17px;
    font-size: 18px;
  }
}
